.reloading-comments
{
    background: url('../images/have-ul-dark@2x.png') center left no-repeat;
    background-size: 12px;
    padding-left: 20px;
}

.reloading-comments.loaded
{
    background: url('../images/have-ul-dark@2x_flip.png') center left no-repeat;
    background-size: 12px;
    padding-left: 20px;
}

.contentComments__card img,
.contentComments__card__child img,
.contentComments__post img,
.profile img
{
    background-image: url("../../img/no_user.png");
    background-size: contain;
}
.contentComments__post img
{
    width: 80px;
    height: 80px;
}


.child-comment-text.has-error,
.form-control.has-error{
    border-color: red;
}

.btn.btn-small
{
    padding: 0.2rem 0.2rem;
    font-size: 0.8rem;
}

.pagination li.last a,
.pagination li.active a
{
    background: #4f8abe;
    color: #fff;
}
.content__menu ul li.have-ul
{
    background: none;
}

.content__menu ul li.active.active-2
{
    background-color: #cbcbcb;
}

.content__menu ul li.active.active-2 a
{
    color: #373a3c;
}

.topCarousel__card span{opacity: 0} .topCarousel__card:hover span{opacity: 1}

.content__card__comments:after {left: 10px}

.content__card__comments.small-box
{
    position: absolute;
    right: 10px;
    bottom: -9px;
}
.weather-title
{
    font-size: 17px;
}

#gcw_siteFKZNEPOtf {width: auto !important;}
.content__sidebar__metrics{overflow:hidden}

.uSocial-Share
{
    display: block;
    float: left;
    position: relative;
    top: -2px;
}

.content__card--inner .content__card__share
{
    float: left;
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.code-banner-holder
{
    width: 100%;
}

.content__sidebar__metrics
{
    width: 100%;
    /*margin: 0 auto;*/
}

#gsInformerID-cwQPln6G4wW1tY
{
    width: 100% !important;
}

.afterglow.video-js
{
    width: auto;
}

.comment-muted
{
    color: #bfbfbf;
}

.comment-for
{
    font-size: 11px;
}

.comment-for a
{
    color: #bfbfbf;
    text-decoration: underline;
    font-style: italic;
}

.content__card__info
{
    margin-bottom: 10px;
}

.topCarousel
{
    max-height: 130px;
    overflow: hidden;
}

.header__navi__drop
{
    z-index: 10;
}


.content__card__comments
{
    margin-left: 12px;
}

.content__card__intro
{
    font-size: 14px !important;
}

/*@media screen and (min-width: 640px) {*/
    /*.content__card__comments*/
    /*{*/
        /*margin-left: 10px;*/
    /*}*/
/*}*/
